backend-api/node_modules
client/node_modules
client/.env
backend-api/.env
backend-api/asynchronous-image-processing-f667c96c82c9.json
cloudbuild.yaml
dockerfile
backend-api/image-processing-function.js
